html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.body {
  width: 100%;
  min-height: 100vh;
}

.light {
  background: white;
  color: purple;
}

.dark {
  background: #121212;
  color: orange;
}
