ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  padding: 8px;
  margin: auto;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-end;
  z-index: 2000;
}

.modal {
  width: 250px;
  height: 100%;
  background: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: slideIn 0.3s ease;
}

.modal a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

/* Slide animation */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.logo {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.burger {
  display: flex;
  cursor: pointer;
  z-index: 1100;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 10px;
}

.active {
  display: flex;
}
.headerLight {
  background: purple;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px 0 2px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition:
    background 0.3s,
    color 0.3s;
}

.headerDark {
  background: orange;
  color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px 0 2px;

  /* margin-right: 10px; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition:
    background 0.3s,
    color 0.3s;
}

.headerLight button {
  background: transparent;
  color: black;
  padding: 0 2px;

  border: solid burlywood;
  border-radius: 40px;
  cursor: pointer;
  z-index: 1001;
  margin-right: 10px;
}

.headerDark button {
  background: transparent;
  color: white;
  padding: 0 2px;

  border: solid darkcyan;
  border-radius: 40px;
  cursor: pointer;
  z-index: 1001;
  margin-right: 10px;
}

.navigationHeader {
  display: none;
}

.navigationHaeder a {
  text-decoration: none;
  color: inherit;
}

.navList a:hover {
  color: orange;
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
  .navigationHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-left: auto;
    margin-right: 25px;
  }

  .headerDark button {
    background: transparent;
    color: saddlebrown;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .headerLight button {
    background: transparent;
    color: lawngreen;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .burger {
    display: none;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .navigationHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-left: auto;
    margin-right: 25px;
  }

  .headerDark button {
    background: transparent;
    color: greenyellow;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .headerLight button {
    background: transparent;
    color: black;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .burger {
    display: none;
  }
}
